<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/sidebar.css">
  <link rel="icon" href="/images/icon.svg">
  <script src="https://kit.fontawesome.com/cc4dc7c7cc.js" crossorigin="anonymous"></script>

  <title>Rent Car</title>
</head>

<body>
  <div class="main-container d-flex">
    <div class="sidebar1" id="side_nav">
      <div class="header-box px-2 pt-3 pb-4">
        <div class="d-flex justify-content-center images-logo">
          <img src="./images/logo.png" class="img-fluid" alt="Logo">
        </div>
        <button class="btn d-md-none d-block close-btn px-1 py-0 text-white mt-3 mb-3">
          <i class="d-flex justify-content-center fa-solid fa-backward icon-back"></i>
        </button>
      </div>
      <div class="d-flex justify-content-center sidebar-menu">
        <ul>
          <li class="mb-2">
            <a href="#" class="text-decoration-none d-block"><i
                class="d-flex justify-content-center fa-solid fa-house"></i>
              <p class="d-flex justify-content-center mt-1">Dashboard</p>
            </a>
          </li>
          <li class="">
            <a href="#" class="text-decoration-none d-block"><i
                class="d-flex justify-content-center fa-solid fa-car"></i>
              <p class="d-flex justify-content-center mt-1">Cars</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sidebar2" id="side_nav">
      <div class="header-box px-2 pt-3 pb-4">
        <div class="d-flex justify-content-center images-logo">
          <img src="/images/logo2.png" class="img-fluid" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center sidebar-menu mt-4">
        <ul>
          <li class="d-flex justify-content-center mb-2 text-sidebar1">
            <a href="#" class="text-decoration-none d-block">
              <p class="mt-1">CARS</p>
            </a>
          </li>
          <li class="d-flex justify-content-center text-sidebar2 px-4">
            <a href="#" class="text-decoration-none d-block">
              <p class="mt-1">List Cars</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <div class="d-flex justify-content-between d-md-none d-block">
            <a class="navbar-brand fs-4" href="#">Navbar</a>
            <button class="btn px-1 py-0 open-btn"><i class="fa-solid fa-bars"></i></button>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><i
                    class="d-none d-sm-block fa-solid fa-bars"></i></a>
              </li>
            </ul>
            <div class="d-flex">
              <input class="form-control" type="search" id="search" placeholder="Search" aria-label="Search">
              <a href="#" id="searchButton" class="btn btn-search" type="submit">Search</a>
            </div>
            <div class="user d-flex flex-row">
              <div class="image ms-2">
                <img src="/images/user.png" alt="User">
              </div>
              <span class="d-flex align-items-center ms-2">Unis Badri A</span>
              <i class="fa-solid fa-chevron-down d-flex align-items-center ms-2"></i>
            </div>
          </div>
        </div>
      </nav>
      <section class="container mt-3 bg-light list-car ">
        <% if(message.length > 0) { %>
          <div class= "alert alert-success mt-3 text-center">
            <%= message %> 
          </div>
        <% } %>
        <div class="text-list-car">
          <div class="row">
            <p>Cars > List Car</p>
          </div>
          <div class="row">
            <div class="col-md-10 me-4">
              <h4>List Car</h4>
            </div>
            <div class="col-md-auto create-car">
              <a href="/cars/create" class="btn btn-new-car">+ Add New Car</a>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <center>
            <div class="col-md-8 mt-3 mb-3">
              <div class="card">cek</div>
            </div>
          </center>
        </div> -->
        <div class="filter-list-car">
          <ul class="list-group list-group-horizontal mt-3">
            <li class="me-2"><button onclick="filter('All')" class="btn btn-filter filter">All</button></li>
            <li class="me-2"><button onclick="filter('Small')" class="btn btn-filter-2 filter">Small</button></li>
            <li class="me-2"><button onclick="filter('Medium')" class="btn btn-filter-2 filter">Medium</button></li>
            <li class="me-2"><button onclick="filter('Large')" class="btn btn-filter-2 filter">Large</button></li>
          </ul>
        </div>
        <div class="card-list-car mt-4">
          <div class="row mb-3">
            <% if(cars.length == 0){ %>
            <center>
              <h3>Tidak Ada Data!</h3>
            </center>
            <% }else{ %>
            <% cars.forEach((car) => { %>
            <div class="col-md-4 mb-4 car">
              <div class="card card-car">
                <img src="/uploads/<%= car.gambar %>" class="card-img-top" alt="Car">
                <div class="card-body">
                  <p class="size" style="display: none;"><% if(car.size_id == 1){ %>Small<% }else if(car.size_id == 2){ %>Medium<% }else if(car.size_id){%>Large<%}%></p>
                  <p class="nama" style="display: none;"><%= car.nama %></p>
                  <p class="card-text"><%= car.nama %> / <% if(car.size_id == 1){ %>Small<% }else if(car.size_id == 2){ %>Medium<% }else if(car.size_id){%>Large<%}%></p>
                  <h5 class="card-title">Rp <%= car.harga %> / hari</h5>
                    <i class="fa-regular fa-clock"></i><span class="card-text"> Updated at <%= car.updatedAt %></span>
                    <a href="/cars/<%= car.id %>/delete" class="btn btn-delete-car-icon mt-2 "><i
                        class="fa-solid fa-trash"></i> Delete</a>
                    <a href="/cars/<%= car.id %>/update" class="btn btn-edit-car-icon mt-2 "><i
                        class="fa-solid fa-pen-to-square"></i> Edit</a>
                </div>
              </div>
            </div>
            <% }); %>
            <% } %>
          </div>
      </section>
    </div>

    <script src="/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
      $('.sidebar1 ul li').on('click', function (e) {
        e.preventDefault();
        $('.sidebar1 ul li.active').removeClass('active');
        $(this).addClass('active');

      });

      $('.open-btn').on('click', function () {
        $('.sidebar1').addClass('active');
      })

      $('.close-btn').on('click', function () {
        $('.sidebar1').removeClass('active');
      })
    </script>

</body>

</html>